{% extends "usuario/usuario_layout.html" %}

{% block content %}
{% for etapa in etapa_list %}
<div class="col-md-3 mb-4">
    <div class="card shadow-none px-0 bg-transparent mt-0">
        <a href="{{ url_for('etapaQz', numero=etapa[0]) }}" class="btn btn-outline-primary btn-block">
            <img src="https://i.ibb.co/St133Pv/DXSHZKl9-4x.jpg" height="450px" width="533px" class="card-img-top"
                alt="Imagen 1">
            <div class="card-body px-0 pb-0">
                <h5 class="card-title">Etapa {{ etapa[0] }}</h5>
                <p class="card-text">{{ etapa[1] }}</p>
            </div>
        </a>
    </div>
</div>
{% endfor %}

{% endblock %}